body,html {
    height: 100%;
}

.container-top  {
    background-image: url("images/wine1.jpg");
    background-repeat: no-repeat;
}

.navbar-nav {
    font-size: 1.5rem;
}



h2 {
    padding: 4%;
}

.blois, .chen {
    padding: 5%;
}

footer {
    background-color: black;
    height: 100px;
}


