body,html {
    height: 100%;
}

.container-top {
    background-image: url("../images/wine1.jpg");
    background-repeat: no-repeat;
}

.container-bor {
    background-image: url("../images/bordeaux.jpg");
    background-repeat: no-repeat;
}



.navbar-nav {
    font-size: 1.5rem;
}



h2 {
    padding: 4%;
}

.jumbotron-blois {
    background-image: url("../images/blois.jpg");
    background-size: cover;
    min-height: 300px;
}

.jumbotron-chen {
    background-image: url("../images/chen.jpg");
    background-size: cover;
    min-height: 300px;
}

.button {
    padding-top: 40%;
}

.row-footer {
    background-color: black;
    height: 8em;
}

.container {
    margin-bottom: 2%;
}
